<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pato crearte</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e9aab52371.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav class="barra-que-desaparece">
        <ul class="barra-que-desaparece-izquierdo">
          <li><a class="info" href="#">pato.crearte@gmail.com</a></li>
          <li><a class="info" href="#">029423493493</a></li>
        </ul>
        <ul class="barra-que-desaparece-derecho">
          <li><a class="info" href="/nosotros">NOSOTROS</a></li>
          <li>
            <a class="info" href="/preguntas-frecuentes"
              >PREGUNTAS FRECUENTES</a
            >
          </li>
          <li><a class="info" href="/formconsultas">CONTACTO</a></li>
        </ul>
      </nav>
      <nav class="navbar">
        <div class="imagen-pato">
          <img
            src="/img/logo.jpg"
            alt="logo de la empresa"
            class="logo-patocrearte"
          />
        </div>
        <div class="nav-medio">
          <ul class="nav-medio-ul">
            <li class="nav-medio-li"><a href="#">INICIO</a></li>
            <li class="nav-medio-li"><a href="#">PRODUCTOS</a></li>
            <li class="nav-medio-li">
              <a href="#"> CORPORATIVO</a>
            </li>
          </ul>
        </div>
        <div class="navbar-derecho">
          <div id="buscador">
            <input
              type="search"
              class="buscador-barra"
              placeholder="tabla de asado, pizza ,picadas"
            />
            <button type="submit" class="ico-nav">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <div class="burger-container">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="iniciar-sesion">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="carrito-de-compra">
            <i class="fa-solid fa-cart-arrow-down"></i>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!-- <section> carrusel</section> -->
      <section class="container-metodos">
        <div class="metodos2">
          <div class="metodos">
            <img src="/img/camion.png" alt="logo-camion" class="iconos" />
            <p class="metodos-de-pago">¡Envios a todo el pais!</p>
          </div>
          <div class="metodos">
            <img src="/img/ojo.png" alt="pago" class="iconos" />
            <p class="metodos-de-pago">¡Variedad en medios de pago!</p>
          </div>
          <div class="metodos">
            <img src="/img/whatsapp.png" alt="wpp" class="iconos" />
            <p class="metodos-de-pago">
              whatsapp <br />
              2995855709
            </p>
          </div>
        </div>
      </section>
      <section class="container-ofertemp">
        <h3>Ofertas</h3>
        <div class="container-ofertemp-hijo">
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div>
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
        </div>
      </section>
      <section class="container-ofertemp">
        <h3>Lo mas vendido!</h3>
        <div class="container-ofertemp-hijo">
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div>
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
          <article class="lala">
            <img src="/img/tabla1.jpg" alt="tabla1" class="ofertas" />

            <div class="locoo">
              <h4>descrip</h4>
              <p>holaaa</p>
              <p>holaaa</p>
            </div>
          </article>
        </div>
      </section>
      <section class="instagram-fast">
        <h2 class="h2-insta">instagram</h2>
        <div class="instagram-fast2">
          <article class="instagram-fast3">
            <img
              src="/img/tabla1.jpg"
              alt="instagram-tabla"
              class="instagram-img"
            />
          </article>
          <article class="instagram-fast3">
            <img
              src="/img/tabla1.jpg"
              alt="instagram-tabla"
              class="instagram-img"
            />
          </article>
          <article class="instagram-fast3">
            <img
              src="/img/tabla1.jpg"
              alt="instagram-tabla"
              class="instagram-img"
            />
          </article>
          <article class="instagram-fast3">
            <img
              src="/img/tabla1.jpg"
              alt="instagram-tabla"
              class="instagram-img"
            />
          </article>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="parte-superior-footer">
        <p class="sugerencia-footer">SEGUINOS</p>
        <div class="container-img-footer">
          <a href="https://www.instagram.com/pato.crearte/" target="_blank"
            ><img
              class="img-footer-insta"
              src="/img/instagram.png"
              alt="logo instagram"
          /></a>
          <a
            href="https://www.facebook.com/Patocrearte-1450234635107774/"
            target="_blank"
            ><img
              class="img-footer-face"
              src="/img/facebook.png"
              alt="logo facebook"
          /></a>
          <a href="#" target="_blank"
            ><img
              class="img-footer-whatsap"
              src="/img/whatsapp.png"
              alt="logo de whatsap"
          /></a>
        </div>
      </div>
      <div class="parte-inferior-footer">
        <div class="parte-inferior-1">
          <img src="/img/logo.jpg" alt="logo" class="img-footer-logo" />
          <img
            src="/img/camion.png"
            alt="logo de camion de envio"
            class="img-envio"
          />
          <p>Nos encontramos en NEUQUÉN CAPITAL</p>
          <p>Argentina</p>
        </div>
        <div class="parte-inferior-2">
          <h3>Sobre Nosotros</h3>
          <a href="#">¿Quienes Somos?</a>
          <a href="#">Preguntas Frecuentes</a>
          <a href="#">Contacto</a>
        </div>
        <div class="parte-inferior-3">
          <h3>Trabajamos con</h3>
          <img
            src="/img/mercadopago.png"
            alt="logo mercadopago"
            class="img-mercadopago"
          />
        </div>
      </div>
    </footer>
  </body>
</html>
