<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preguntas Frecuentes</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/pregFrecuentes.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/e9aab52371.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <%- include("./partials/header") %>
  <main class="container-preguntas">
    <h2 class="titulo-preguntas">Preguntas Frecuentes</h2>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>Como puedo hacer mi pedido?</h3>
      </div>
      <p>
        Podes hacer tu pedido las 24 hs en nuestra Web , o enviarnos el detalle
        por Whatsapp. Carro de Compras Online: www.patocrearte.com.ar Whatsapp:
        02948980087
      </p>
    </div>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>¿Debo registrarme en la web para hacer un pedido?</h3>
      </div>
      <p>
        La registración es muy simple y es gratuita. La primera vez que ingreses
        debes generar tu clave y completar tus datos.
      </p>
    </div>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>¿Hacen envios al interior?</h3>
      </div>
      <p>Si, hacemos envíos a todo el país.Consultar precio por zona</p>
    </div>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>¿Puedo retirar personalmente mi pedido?</h3>
      </div>
      <p>
        Si, podes retirarlo personalmente y abonarlo al retirar. En ese caso es
        importante que te pongas en contacto con nosotros y combinamos el día
        que estará listo. Los pedidos se preparan una vez que nos ponemos en
        contacto (no al recibirlos por la web).
      </p>
    </div>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>¿Como puedo realizar el pago?</h3>
      </div>
      <p>
        El pago puede ser realizado en efectivo o por medio de
        depósito/transferencia bancaria en caso de ser .Tambien podes usar tus
        tarjetas de Credito/Debito en la plataforma de MercadoPago.
      </p>
    </div>
    <div class="preguntas">
      <div class="preguntas-coniconos">
        <i class="fa-solid fa-plus" id="plus"></i
        ><i class="fa-solid fa-minus" id="minus"></i>
        <h3>¿Veden unicamente online?</h3>
      </div>
      <p>
        Por el momento no contamos con local pero en nustro instagram vas a
        tener informacion de cuando estaremos en ferias.
      </p>
    </div>
  </main>
  <%- include ("./partials/footer") %>
</body>
