<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/e9aab52371.js"
      crossorigin="anonymous"
    ></script>
    <title>Pato Crearte</title>
  </head>
  <body>
    <%- include("./partials/header") %>

    <main class="main-pd">
      <!-- Detalle de producto -->
      <h2>Ruta/del/producto</h2>
      <section class="main-detail">
        <article class="main-detail-product">
          <img src="img/tabla5.jpg" alt="Foto-Producto" class="img-detail" />
        </article>
        <div class="main-detail-lateral">
          <div class="main-detail-info-pay">
            <h1>Tabla 30 x 20</h1>
            <p class="detail-price">$3000</p>
            <p class="detail-discount">10%OFF</p>
            <p>en</p>
            <p class="detail-finance">
              12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
            </p>
          </div>
          <form
            name="compra"
            class="main-detail-info-buy"
            action="#"
            method="POST"
          >
            <p><i class="fa fas fa-circle-check"></i>2 disponibles</p>
            <input
              class="input-cant"
              type="number"
              value="cantidad"
              min="0"
              max="10"
            />

            <button type="submit" class="button-submit">
              Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
            </button>
          </form>
          <form class="main-detail-info-ship">
            <select class="main-select" name="provincia">
              <option value="sanJuan">San Juan</option>
              <option value="caba">CABA</option>
              <option value="cordoba">Córdoba</option>
            </select>
            <button class="button-submit">Calcular</button>
            <p>
              <i class="fa-solid fa-truck"></i> Llega el martes 19 de abril por
              $700
            </p>
            <p>Descripción del producto</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Faucibus ornare suspendisse sed nisi lacus sed viverra.
            </p>
          </form>
        </div>
      </section>
      <!-- Articulos que te recomendamos -->
      <h2>Te recomendamos</h2>
      <section class="main-recomend">
        <article class="main-recomend-product">
          <img src="img/tabla1.jpg" alt="Producto1" class="img-detail" />
          <h3>Producto 1</h3>
          <p class="detail-price2">$3000</p>
          <p class="detail-discount">10%OFF</p>
          <p>en</p>
          <p class="detail-finance">
            12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
          </p>
          <button type="submit" class="button-submit">
            Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
          </button>
        </article>
        <article class="main-recomend-product">
          <img src="img/tabla2.jpg" alt="Producto2" class="img-detail" />
          <h3>Producto 2</h3>
          <p class="detail-price2">$3000</p>
          <p class="detail-discount">10%OFF</p>
          <p>en</p>
          <p class="detail-finance">
            12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
          </p>
          <button type="submit" class="button-submit">
            Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
          </button>
        </article>
        <article class="main-recomend-product">
          <img src="img/tabla3.jpg" alt="Producto3" class="img-detail" />
          <h3>Producto 3</h3>
          <p class="detail-price2">$3000</p>
          <p class="detail-discount">10%OFF</p>
          <p>en</p>
          <p class="detail-finance">
            12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
          </p>
          <button type="submit" class="button-submit">
            Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
          </button>
        </article>
        <article class="main-recomend-product">
          <img src="img/tabla4.jpg" alt="Producto4" class="img-detail" />
          <h3>Producto 4</h3>
          <p class="detail-price2">$3000</p>
          <p class="detail-discount">10%OFF</p>
          <p>en</p>
          <p class="detail-finance">
            12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
          </p>
          <button type="submit" class="button-submit">
            Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
          </button>
        </article>
      </section>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
