<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pato Crearte</title>
  </head>
  <body>
    <header>
      <!-- En este div, va el header -->
      <div></div>
    </header>
    <main>
      <!-- Detalle de producto -->
      <section>
        <h2>Ruta/del/producto</h2>
        <article>
          <img src="#" alt="Foto-Producto" />
          <p>Descripción del producto</p>
        </article>
        <div>
          <h1>Nombre del producto</h1>
          <p>$3000</p>
          <p>Medios de pago</p>
        </div>
        <div>
          <p>Cantidad</p>
          <input type="number" />
          <p>Stock</p>
          <button>Comprar</button>
        </div>
        <div>
          <p>Calcula tu envio</p>
          <input type="text" />
          <button>Calcular</button>
        </div>
      </section>
      <!-- Articulos que te recomendamos -->
      <section>
        <h2>Te recomendamos</h2>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
