<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pato Crearte</title>
  </head>
  <body>
    <header>
      <!-- En este div, va el header -->
      <div></div>
    </header>
    <main class="main">
      <!-- Detalle de producto -->
      <section class="main-detalle">
        <h2>Ruta/del/producto</h2>
        <article class="main-detalle-producto">
          <img src="img/tabla5.jpg" alt="Foto-Producto" />
          <p>Descripción del producto</p>
        </article>
        <div class="main-detalle-info-pago">
          <h1>Nombre del producto</h1>
          <p>$3000</p>
          <p>Medios de pago</p>
        </div>
        <div class="main-detalle-info-compra">
          <p>Cantidad</p>
          <input type="number" />
          <p>Stock</p>
          <button>Comprar</button>
        </div>
        <div class="main-detalle-info-envio">
          <p>Calcula tu envio</p>
          <input type="text" />
          <button>Calcular</button>
        </div>
      </section>
      <!-- Articulos que te recomendamos -->
      <section class="main-recomendado">
        <h2>Te recomendamos</h2>
        <article class="main-recomendado-producto">
          <img src="img/tabla1.jpg" alt="Producto1" />
          <h3>Producto 1</h3>
          <p>$2500</p>
        </article>
        <article class="main-recomendado-producto">
          <img src="img/tabla2.jpg" alt="Producto2" />
          <h3>Producto 1</h3>
          <p>$2500</p>
        </article>
        <article class="main-recomendado-producto">
          <img src="img/tabla3.jpg" alt="Producto3" />
          <h3>Producto 1</h3>
          <p>$2500</p>
        </article>
        <article class="main-recomendado-producto">
          <img src="img/tabla4.jpg" alt="Producto4" />
          <h3>Producto 1</h3>
          <p>$2500</p>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
