<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de registro</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>//Aca va el header</header>
    <main>
      <div class="Register">
        <h1>Registrate</h1>
        <p>Registrate con</p>
        <div class="Facebook">
          <p>
            <a
              href="https://es-la.facebook.com/login/device-based/regular/login/"
            >
              Facebook <i class="fa-brands fa-facebook"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="Google">
        <p>
          <a
            href="https://mail.google.com/"
          >
            Google <i class="fa-brands fa-google"></i>
          </a>
        </p>
      </div>
      <p>O</p>
      <h2>Tu Nombre</h2>
      <div class="nombre">
          <p>Nombre*:</p>
      </div>
      <div class="apellido">
          <p>Apellido*:</p>
      </div>
      <h2>Fecha de nacimiento</h2>
      <h2>Datos de acceso</h2>
    </div>
    </main>
    <footer>//Aca va el footer</footer>
  </body>
</html>
