* {
  box-sizing: border-box;
}

body {
  background-color: white;
  background-color: #ebebeb;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
footer {
  background-color: white;
}
/*Clases para el header, modificaciones*/

.ico-nav {
  background-color: #e8e8e8;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: #686767;
  margin-left: 1px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
.carrito-de-compra,
.iniciar-sesion,
.burger-container {
  font-size: 20px;
  color: black;
}

.navbar-derecho {
  flex-wrap: wrap;
  
  justify-content: space-around;
}

/*-------------------------------------*/

/*Clases de la sección detalle de producto*/

.main-pd h2 {
  padding: 10px;
  font-size: 20px;
}
.main-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border-bottom: #e5890a 3px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main-detail h2 {
  color: red;
}
.main-detail-product {
  max-width: 90vw;
  position: relative;
}

/*EN versión mobile desaperece la descrición*/

h1 {
  font-size: 22px;
  padding: 10px 0px;
  width: 100%;
}
/*Clases sección lateral*/

.main-detail-info-pay {
  display: flex;
  flex-wrap: wrap;
}

.detail-price {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 5px 0px;
  width: 40%;
}

.main-detail-lateral {
  width: 100%;
  padding: 10px;
}
.main-detail-lateral i {
  color: #e5890a;
}
/*bloque 2*/
.main-detail-info-buy {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  justify-content: space-between;
}
.main-detail-info-buy p {
  width: 100%;
  font-size: 14px;
}
.main-detail-info-buy p i {
  color: darkgreen;
  padding: 5px;
}

.input-cant {
  width: 20%;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  background-color: #eee;
}

/*bloque 3*/
.main-detail-info-ship {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  justify-content: space-between;
}
.main-detail-info-ship button {
  width: 40%;
}
.main-select {
  width: 40%;
  border: 0;
  border-radius: 10px;
  padding-left: 5px;
}
.main-detail-info-ship p {
  margin-top: 9px;
  font-size: 14px;
  width: 100%;
}
.main-detail-info-ship i {
  color: #e5890a;
}

.type-arriba{
  color: rgba(94, 91, 91, 0.883)
}
/*Clases de la sección te recomendamos*/

@media (min-width: 361px) {
  .main-detail-product {
    max-width: 500px;
  }
  .main-detail-lateral {
    max-width: 400px;
  }
}
@media (min-width: 769px) {
  .main-detail-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
  }

  .main-detail-lateral {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #ebebeb;
  }
}
