main section.container-metodos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 27px;
}

main section div.metodos {
  display: flex;
  align-items: center;
}

main section div img.iconos {
  width: 60px;
  height: 60px;
  padding: 10px;
}

main section div p {
  font-size: 18px;
  padding-left: 10px;
}

/* segunda tercera parte */

/* falta hacer el responsive del desktop */
main section.container-ofertemp {
  width: 100%;
  display: flex;
}
main section div.container-ofertemp-hijo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
main section div div.fotos-ofertemp {
  height: 150px;
  width: 180px;
  padding: 10px;
}
main section div div img.ofertas {
  width: 100%;
  height: 100%;
}

/* tercera parte */













@media (min-width: 361px) {
  main section.container-metodos {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 760px) {
  main section div.metodos2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  main section.container-metodos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}
