body {
  background-color: #ebebeb;
  height: 100%;
}
footer {
  background-color: white;
}
main section.container-metodos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 27px;
}

main section div.metodos {
  display: flex;
  align-items: center;
  height: 60px;
}

main section div img.iconos {
  width: 60px;
  height: 60px;
  padding: 10px;
}

main section div p.metodos-de-pago {
  font-size: 18px;
  padding-left: 10px;
}

/* carrusel */
.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1030px;
  /* max-width: 510px;  */
  scroll-behavior: smooth;
}

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  background: black;
  border: 4px solid black;
  height: 200px;
}

.carrusel-menu {
  display: none;
}
/* termina el carrusel */

#tarjeta {
  width: 71px;
  text-align: -webkit-center;
  font-size: 34px;
  height: 39px;
}

/* segunda y tercera parte */

.container-ofertemp {
  height: 100%;
  margin-bottom: 20px;
}
.container-ofertemp-hijo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-ofertemp-hijo-2 {
  width: 270px;
  height: 100%;
  margin: 20px;
  text-align: center;
  background: white;
  padding: 12px;
}
.ofertas {
  width: 100%;
  height: 100%;
  margin-bottom: 7px;
}
h3 {
  font-size: 30px;
  margin: 10px;
}
.titulos {
  color: darkgreen;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 0px 1px rgb(100 100 100);
  padding: 10px;
  background-color: #f5f5f5;
  margin: 30px;
}
.abc {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.abc a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.aaa {
  margin: 6px 0px;
  font-size: 18px;
  width: 100%;
}

.bbb {
  font-family: "Roboto", sans-serif;
  margin: 8px 0px;
  font-size: 20px;
  width: 33%;
  font-weight: 600;
}
.bbb2 {
  font-size: 18px;
  margin: 8px 0px;
  color: orange;
}
.ccc {
  font-size: 16px;
  width: 100%;
}

/* cuarta parte... 3 cuadros */
.cuadros3 {
  margin-bottom: 20px;
}
.cuadros3-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cuadros3-3 {
  width: 326px;
  height: 350px;
  padding: 15px;
}
.cuadros3-img {
  width: 100%;
  height: 100%;
}

/* quinta  parte de instagram */

.h2-insta {
  text-align: center;
  margin: 30px;
}
.instagram-fast {
  height: 100%;
}
.instagram-fast2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.instagram-fast3 {
  width: 180px;
  height: 183px;
  padding: 2px;
  border: 1.2px solid black;
}
.instagram-img {
  width: 100%;
  height: 100%;
}

/* media query */
@media (min-width: 361px) {
  main section.container-metodos {
    flex-direction: column;
    align-items: center;
  }
}
/* tablet */
@media (min-width: 760px) {
  main section div.metodos2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  main section.container-metodos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .cuadros3-3 {
    width: 33%;
    height: 100%;
    padding: 5px;
  }
  .cuadros3-2 {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .cuadros3-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .container-ofertemp-hijo {
    justify-content: flex-start;
  }
  .ofertas {
    width: 86%;
  }
}

/* media de carrusel */
@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden;
  }

  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 10px solid black;
  }
  .carrusel-menu img:hover {
    border: none;
  }
}
