.section1a{
    place-content: center;
    background: cornflowerblue;
    padding: 20px;
}
.avatar{
    border-radius: 100%;
    width: 120;
    height: 120px;
    border: 4px lavender solid;
}
main div section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
main div section article {
    width: 100%;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
main div section article div{
    
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 11px;
    
}
.a{
    width: 96%;

}
.b{
    width: 94%;
}

.fas{
    font-size: 18px;
}

.far{
    font-size: 18px;
}

.contenedor-hijo-c{
    display: flex;
    width: 90%;
    margin:5px 5%;
    justify-content: space-around;
    margin-top:30px
}
.contenedor-hijo-c button{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e5890a;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(150, 107, 52);
    border: 1px solid rgb(209, 173, 105);
    transition: all, 0.6s;
    width: 200px;
    margin: 5px;
    cursor: pointer;
    
}
.contenedor-hijo-c button:hover{
    background-color: #f89304;
}