.section1a{
    place-content: center;
    background: cornflowerblue;
}
.avatar{
    border-radius: 100%;
    width: 120;
    height: 120px;
    border: 4px lavender solid;
}
main div section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
main div section article {
    width: 100%;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}
main div section article div{
    
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 11px;
    
}
.a{
    width: 96%;

}
.b{
    width: 94%;
}

