* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  margin: auto;

}

p {
  font-size: 12px;
}

h1 {
  font-size: 35px;
  margin: 5px;
}

h3 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin: 5px;
  font-weight: 700;
}
.container1 {
  margin-top: 15px;
}

h2 {
  font-size: 25px;
  margin-top: 7px;
  margin: 5px;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  width: auto;
  margin: 5px;
  margin-top: 10px;
}

.logins {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.logins a {
  height: 40px;
  margin: 10px 15px;
  border: 1px solid #e5890a;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  background-color: #e58a0a6e;
  color: rgb(46, 44, 44);
  font-size: 15px;
}

a:hover {
  color: #e5890a;
}

input:focus {
  outline: none;
  border: 2px solid #e5890a !important;
}

.datos-usuario input {
  display: flex;
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  border: none;
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

input[type="submit"] {
  margin: 10px 0;
  border-width: 1px;
  width: 20%;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #e5890a;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.campo,
.campo-fecha,
.repetir-password,
.password {
  padding: 2px;
}
.texto{
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px
}
.noticias-condiciones {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.noticias-condiciones > input{
  width: auto;
}

.boton-enviar > input{
  width: 100%;
}

.text-denger{
  font-size: 10px;
  font-weight: bold;
  color: #F55353;
  padding: 12px 0px;
  font-size: 12px;

}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
  .datos-usuario {
    display: flex;
    justify-content: center;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logins {
    justify-content: center;
  }

  .fieldset{
    width: 50%;
  }

  .datos-usuario input{
    width: 60%;
  }

  .noticias-condiciones > input{
    width: auto;
  }

  .texto{
    padding:  0 10px;
    width: 60%;
    padding-bottom: 15px;
    padding-top: 5px;

  }

  .register{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin-left: 25%;
}

.boton-enviar{
  width: 100%;
  margin-left: 10px;
}


.noticias-condiciones{
  width: 60%;
  padding-bottom: 15px;
}
}
@media (min-width: 1000px) {
}
