<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ("./partials/head") %>
    <title>index</title>
  </head>
  <body>
    <%- include("./partials/header") %> <%- include ("./partials/footer") %>
  </body>
</html>
