<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ("./partials/head") %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <form class="form-login" action="/user/login" method="POST">
        <div class="container-input">
          <div class="input1-group">
            <input
              type="email"
              placeholder="Email@email.com"
              class="input1"
              name="email"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="text-denger"><%= errors.email.msg %></div>
            <% } %>
          </div>
          <div class="input2-group">
            <input
              type="password"
              placeholder="Contraseña"
              class="input2"
              required
              pattern=".{8,}"
              title="min 8 letras alfanumericas"
              name="password"
              maxlength="8"
            />
            <img src="/img/ojo.png" alt="" class="img-ojo" />
          </div>
        </div>

        <div class="container-preguntas">
          <div class="container-contra-olvidada">
            <a href="#" class="contra-olvidada">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="container-recordar">
            <input
              type="checkbox"
              name="recordar"
              value="recordar"
              id="recordar"
            />
            <label for="recordar"> Recordar usuario y contraseña </label>
          </div>
          <button type="submit" class="btn-enviar-formulario">
            INICIAR SEIÓN
          </button>
          <div class="not-usuario">
            <p class="not-usuario-text">¿No eres usuario aún?</p>
            <a href="/user/register" class="registro-login">Registrate</a>
          </div>
        </div>
      </form>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
