<head>
  <%- include ("./partials/head") %>
  <title>perfil Usuario</title>
  <link rel="stylesheet" href="/css/perfil.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main>
   <h1>PERFIL DE USUARIO</h1>
    <section>
      <img src="../../img/users/<%= user.imageUsuario %> " alt="">
    </section>
    <section>
      <div>
        <input type="text" placeholder="name">
      </div>
      <div> 
        <input type="text" placeholder="apellido">
      </div>
    </section>
    <section>
      <div>
        <input type="email" name="" id="" placeholder="email">
      </div>
      <div>
        <input type="date">
      </div>
    </section>
    
  </main>

  <%- include ("./partials/footer") %>
</body>
