<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ("./partials/head") %>
    <title>ProductCart</title>
    <link rel="stylesheet" href="/css/productCart.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <%- include("./partials/header") %>

    <h3></h3>
    <section class="section-desktop">
      <div class="tabla-cabezera">
        <p class="tabla-producto">PRODUCTO</p>
        <p class="tabla-subtitulo">PRECIO</p>
        <p class="tabla-subtitulo">CANTIDAD</p>
        <p class="tabla-subtotal">SUBTOTAL</p>
      </div>
      <!-- PRODUCTO PRUEBA 1 -->
      <div class="container-cards-carrito">
        <div class="conteiner-caja" id="card-n0">
          <div class="caja1">
            <div class="producto-prueba-1">
              <a class="deleted" id="deleted" href="#"
                ><i
                  class="far fa-times-circle"
                  class="deleted"
                  id="deleted"
                  data-producto=""
                ></i
              ></a>
              <div class="imagen-1">
                <a href="#"
                  ><img src="/img/muchosPlatos.jpg" alt="plato" width="130px"
                /></a>
              </div>
              <a class="parrafo1" href="#">Plato de algarrobo 24cm</a>
            </div>
          </div>
          <div class="caja1-precio">
            <p>$900</p>
          </div>
          <div class="caja1-cantidad">
            <form action="" id="cantidad">
              <input type="number" min="0" max="9" value="1" id="cantidad" />
            </form>
          </div>
          <div class="caja1-subtotal">
            <p>$900</p>
          </div>
        </div>
      </div>
    </section>
    <!-- TOTAL CARRITO -->
    <nav class="total-carrito">
      <p class="total-carrito-titulo">Total del carrito</p>
<<<<<<< HEAD
      <div class="bloque-a">
        <p class="total-subtotal">SUBTOTAL</p>
      </div>
      <p class="total-monto">$13.700</p>
=======
      <!-- <div class="bloque-a">
        <p class="total-subtotal" id="total">SUBTOTAL</p>
      </div>
      <p class="sub-total-monto" id="total">-</p> -->
>>>>>>> 321a223fd617b270d5c62e25d73a18e0d34fb2a8
      <div class="bloque">
        <p class="total-envio">ENVIO</p>
        <div class="total-envio-opc">
          <form action="">
            <ol>
              <li>
                <label for="#"></label>
                <input type="radio" name="envio" /> Retiro en el local
              </li>
              <li>
                <label for="#"></label>
                <input type="radio" name="envio" />A domicilio (calcular)
              </li>
            </ol>
          </form>
          <form action="">
            <a class="cambiar-direccion" href="#">Cambiar dirección</a>
          </form>
        </div>
      </div>
      <div class="bloque-a">
        <p class="total">TOTAL</p>
      </div>
      <p class="total-monto">-</p>
      <div class="fin">
        <a href="#" class="finalizarCompra">Finalizar Compra</a>
      </div>
    </nav>
    <%- include ("./partials/footer") %>
    <script src="/js/carritoDef.js"></script>
    <script src="/js/carrito.js"></script>
  </body>
</html>
