<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <title>Productos</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <h3 class="titulos">Estos son todos nuestros productos!</h3>
      <section class="main-recomend">
        <% products.forEach(product => { %>
        <%-include("./partials/product2",{product:product}) %> <% }); %>
      </section>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
