<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <title>Formulario de registro</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="container1">
        <h2>Registrate con</h2>
        <div class="logins">
          <a
            href="https://es-la.facebook.com/login/device-based/regular/login/"
          >
            Facebook <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://mail.google.com/">
            Google <i class="fa-brands fa-google"></i>
          </a>
        </div>
        <h2>O Completando tus datos</h2>
      </div>
      <div class="datos-usuario">
        <fieldset class="fieldset">
          <legend>Personal data</legend>
          
          <form class="register" action="index.html" method="post">
            <div class="Register">
              <div>
                <h3>Tu Nombre</h3>
                <div class="campo">
                  <label for="nombre"></label>
                  <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    placeholder="Nombre"
                  />
                </div>
                <div class="campo">
                  <label for="apellido"></label>
                  <input
                    type="text"
                    name="apellido"
                    id="apellido"
                    placeholder="Apellido"
                  />
                </div>
                <div class="campo-fecha">
                  <h3>Fecha de Nacimiento</h3>
                  <label for="date"></label>
                  <input type="date" name="date" id="date" placeholder="dd" />
                </div>
                <p class="texto">
                  Recopilamos la fecha de nacimiento de acuerdo a nuestra
                  politica de privacidad. Te haremos un regalo!
                </p>
              </div>
              <h3>Datos de Acceso</h3>
              <div class="user-info">
                <div class="email campo1">
                  <label for="email"></label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="email@gmail.com"
                  />
                </div>
                <div class="password campo1">
                  <label for="password"></label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Contraseña"
                    pattern=".{8,}"
                    title="8 letras minusculas"
                    required
                  />
                </div>
                <div class="repetir-password campo1">
                  <label for="password"></label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Repetir contraseña"
                    pattern=".{8,}"
                    title="8 letras minusculas"
                    required
                  />
                </div>
                <p class="texto">
                  Debe usar como minimo 8 caracteres y contener una mayuscula
                </p>
              </div>
              <div class="noticias-condiciones">
                <input type="checkbox" />He leido y acepto los terminos y
                condiciones
              </div>
              <div class="noticias-condiciones">
                <input type="checkbox" />Me gustaria recibir noticias
              </div>
              <div class="boton-enviar"><input type="submit" value="ENVIAR"/></div>
              
            </div>
          </form>
        </fieldset>
      </div>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
