<footer class="footer">
  <div class="parte-superior-footer">
    <p class="sugerencia-footer">SEGUINOS</p>
    <div class="container-img-footer">
      <a
        href="https://www.instagram.com/pato.crearte/"
        target="_blank"
        target="_blank"
        ><img
          class="img-footer-insta"
          src="/img/instagram.png"
          alt="logo instagram"
      /></a>
      <a
        href="https://www.facebook.com/Patocrearte-1450234635107774/"
        target="_blank"
        ><img
          class="img-footer-face"
          src="/img/facebook.png"
          alt="logo facebook"
      /></a>
      <a href="#" target="_blank"
        ><img
          class="img-footer-whatsap"
          src="/img/whatsapp.png"
          alt="logo de whatsap"
      /></a>
    </div>
  </div>
  <div class="parte-inferior-footer">
    <div class="parte-inferior-1">
      <img src="/img/logo.jpg" alt="logo" class="img-footer-logo" />
      <img
        src="/img/camion.png"
        alt="logo de camion de envio"
        class="img-envio"
      />
      <p>Nos encontramos en NEUQUÉN CAPITAL</p>
      <p>Argentina</p>
    </div>
    <div class="parte-inferior-2">
      <h3>Sobre Nosotros</h3>
      <a href="/nosotros">¿Quienes Somos?</a>
      <a href="/user/pregFrecuentes">Preguntas Frecuentes</a>
      <a href="/user/formconsultas">Contacto</a>
    </div>
    <div class="parte-inferior-3">
      <h3>Trabajamos con</h3>
      <img
        src="/img/mercadopago.png"
        alt="logo mercadopago"
        class="img-mercadopago"
      />
    </div>
  </div>
</footer>
