<header class="header">
  <nav class="barra-que-desaparece">
    <ul class="barra-que-desaparece-izquierdo">
      <li><a class="info" href="#">pato.crearte@gmail.com</a></li>
      <li><a class="info" href="#">029423493493</a></li>
    </ul>
    <ul class="barra-que-desaparece-derecho">
      <li><a class="info" href="/nosotros">NOSOTROS</a></li>
      <li>
        <a class="info" href="/user/pregFrecuentes">PREGUNTAS FRECUENTES</a>
      </li>
      <li><a class="info" href="/user/formconsultas">CONTACTO</a></li>
    </ul>
  </nav>
  <nav class="navbar">
    <div class="imagen-pato">
      <a href="/home">
        <img
          src="/img/logo.jpg"
          alt="logo de la empresa"
          class="logo-patocrearte"
        />
      </a>
    </div>
    <div class="nav-medio">
      <div class="menu">
        <nav class="menu-nav">
          <ul class="nav-medio-ul">
            <li class="nav-medio-li"><a href="/home">INICIO</a></li>
            <li class="nav-medio-li">
              <a href="/producto" class="hola">PRODUCTOS </a>
              <ul class="nav-medio-productos">
                <li><a href="">Tablas asado</a></li>
                <li><a href="">Pizzera</a></li>
                <li><a href="">Cuencos</a></li>
                <li><a href="">Posa Vasos</a></li>
                <li><a href="">Platos</a></li>
              </ul>
            </li>
            <li class="nav-medio-li">
              <a href="#"> CORPORATIVO</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="navbar-derecho">
      <form action="/search" method="GET" id="buscador">
        <input
          type="search"
          class="buscador-barra"
          placeholder="tabla de asado, pizza ,picadas"
          name="keywords"
        />
        <button type="submit" class="ico-nav">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <!-- <div class="burger-container">
        <i class="fa-solid fa-bars"></i>
      </div> -->
      <div class="containerNavMenu" id="containerNavMenu">
        <div id="navMenu">
          <span ></span>
          <span ></span>
          <span ></span>
        </div>
      <% if(locals.isLogged) { %>
        <div class="barras-navMenu">
        <p><a href="/user/perfil/<%= locals.userLogged.id_user %>"><%= locals.userLogged.firs_name %></a>  <i class="fa-solid fa-user"></i></p>
        <p><a href="/producto/carrito">Carrito</a>  <i class="fa-solid fa-cart-arrow-down"></i
          ></p>
        <p><a href="/user/logout">Salir</a>  <i class="fa-solid fa-arrow-right-from-bracket"></i
          ></p>
      </div>
      <%} else{ %>
        <div class="barras-navMenu">
          <p><a href="/user/register">Registrate</a>  <i class="fa-solid fa-address-card"></i
            ></p>
          <p><a href="/user/login">Ingresá</a>  <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></p>
        </div>
        <% } %>
      </div>
      <!--   --------------------------------------- -->
      <% if(locals.isLogged) { %>
      <div class="iniciar-sesion">
        <a href="/user/perfil/<%= locals.userLogged.id_user %>" class="ancla-login"><%= locals.userLogged.firs_name %></a>
          
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
      <div class="carrito-de-compra">
        <a href="/producto/carrito" class="ancla-carrito"
          ><i class="fa-solid fa-cart-arrow-down"></i
        ></a>
      </div>
      <div class="deslogeo">
        <a href="/user/logout"
          >Salir <i class="fa-solid fa-arrow-right-from-bracket"></i
        ></a>
      </div>
      <%} else{ %>
      <div class="crearCuenta">
        <a href="/user/register"
          >Registrate<i class="fa-solid fa-address-card"></i
        ></a>
      </div>
      <div class="ingresarLogin">
        <a href="/user/login"
          >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
        ></a>
      </div>
      <% } %>
    </div>
  </nav>
</header>
