<header class="header">
  <nav class="barra-que-desaparece">
    <ul class="barra-que-desaparece-izquierdo">
      <li><a class="info" href="#">pato.crearte@gmail.com</a></li>
      <li><a class="info" href="#">029423493493</a></li>
    </ul>
    <ul class="barra-que-desaparece-derecho">
      <li><a class="info" href="/nosotros">NOSOTROS</a></li>
      <li>
        <a class="info" href="/user/pregFrecuentes">PREGUNTAS FRECUENTES</a>
      </li>
      <li><a class="info" href="/user/formconsultas">CONTACTO</a></li>
    </ul>
  </nav>
  <nav class="navbar">
    <div class="imagen-pato">
      <a href="/home">
        <img
          src="/img/logo.jpg"
          alt="logo de la empresa"
          class="logo-patocrearte"
        />
      </a>
    </div>
    <div class="nav-medio">
      <div class="menu">
        <nav class="menu-nav">
          <ul class="nav-medio-ul">
            <li class="nav-medio-li"><a href="/home">INICIO</a></li>
            <li class="nav-medio-li">
              <a href="#" class="hola">PRODUCTOS </a>
              <ul class="nav-medio-productos">
                <li><a href="">Tablas asado</a></li>
                <li><a href="">Pizzera</a></li>
                <li><a href="">Cuencos</a></li>
                <li><a href="">Posa Vasos</a></li>
                <li><a href="">Platos</a></li>
              </ul>
            </li>
            <li class="nav-medio-li">
              <a href="#"> CORPORATIVO</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <div class="nav-medio">
        <ul class="nav-medio-ul">
          <li class="nav-medio-li"><a href="#">INICIO</a></li>
          <li class="nav-medio-li"><a href="#">PRODUCTOS</a></li>
          <li class="nav-medio-li">
            <a href="#"> CORPORATIVO</a>
          </li>
        </ul>
      </div> -->
    <div class="navbar-derecho">
      <div id="buscador">
        <input
          type="search"
          class="buscador-barra"
          placeholder="tabla de asado, pizza ,picadas"
        />
        <button type="submit" class="ico-nav">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="burger-container">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="iniciar-sesion">
        <a href="/user/login" class="ancla-login">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
      <div class="carrito-de-compra">
        <a href="/producto/carrito" class="ancla-carrito"
          ><i class="fa-solid fa-cart-arrow-down"></i
        ></a>
      </div>
    </div>
  </nav>
</header>
